.game {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 0;
  background: var(--theme-color-dark);
  z-index: 999;
  /* text-align: center; */
}

.game > header {
  height: 4rem;
  background: var(--background-color);
  width: 100%;
  position: relative;
}
.game > header h3 {
  text-align: left;
  position: relative;
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%);
}
.game > header div {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
}

.game img {
  height: 12rem;
  object-fit: contain;
}

.game__question {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.game__question > label {
  display: flex;
  align-items: center;
}

.game__question > label > input[type="checkbox"] {
  margin: 0.5rem;
  margin-right: 1rem;
}

.game > nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
}

.game > nav button {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  background: var(--background-color);
  border-radius: 0;
  border: none;
  vertical-align: middle;
  display: inline-block;
}

.game > nav button:hover {
  background: var(--theme-color);
}

.game > nav button * {
  vertical-align: middle;
}

.game > nav img {
  min-height: 0;
  height: 3.5rem;
  margin-right: 1rem;
}
